<ion-view class="login">
    <div class="input-box">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-person"></i>
                <input type="text" placeholder="用户名" ng-model="uname">
            </label>
            <label class="item item-input">
                <i class="icon  ion-locked"></i>
                <input type="password" placeholder="Password" ng-model="pwd">
            </label>
        </div>
        <div class="list list-inset">
            <button class="button button-block button-assertive" ng-click="goLogin()">
                登录
            </button>
        </div>


    </div>

</ion-view>